{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">

      <div class="jumbotron">
        <h2>
          Curso de Python da Python Pro =)
        </h2>
        <p>
          Em breve, mais informações. \o/
          <a href="https://novatec.com.br/livros/pythonfluente/" target="_blank">Python Fluente</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <h5 class="card-header">
          Mais detalhes sobre o professor
        </h5>
        <div class="card-body">
          <p class="card-text">
            <img src="{% static 'img/LucianoRamalho.jpg' %}" class="img-thumbnail float-left mr-3"
              alt="Foto de Luciano Ramalho." width="150" /> O que segue é minha mini-bio de programador. Programo por
            hobby desde 1978 e por profissão desde 1982. Fundei a Hiperlógica, primeira empresa brasileira dedicada
            inteiramente ao Zope e Python (nunca usamos outro servidor de aplicações nem outra linguagem, exceto em
            scripts de integração com sistemas legados). Continuo inteiramente focado nestas tecnologias, ultimamente
            com ênfase em Django. Fui diretor técnico do BrasilOnline (BOL) na Abril S/A, desde sua concepção em 1994
            até um pouco antes do Sr. Roberto Civita entregar o ouro ao nosso principal concorrente a troco de nada
            (acho que ele não "estava a fim" dessa tal de Web). Naquela época, aprendi a respeitar o software livre e a
            simplicidade como princípio de engenharia de software. Python é livre e simples.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}